# {{company}}

---------------------------------------

    Invoice: {{invoice}}
    Email: {{email}}
    Téléphone: {{phone}}
    Adresse: {{address}}


Description                      | Heures    | taux      | Sous total
-------------------------------- | --------- | --------- | ---------
{{description}}                  | {{hours}} | ${{rate}} | ${{subtotal}}

**Grand Total**: ${{grandtotal}}
