# {{company}}

---------------------------------------

    Facture: {{invoice}}
    Date de la facture: {{date}}
    Email: {{email}}
    Téléphone: {{phone}}
    Adresse: {{address}}


Description                      | Date     | Heures    | taux      | Sous total
-------------------------------- | -------- | --------- | --------- | ---------
{{#tasks}}
  {{description}}                | {{date}} | {{hours}} | ${{rate}} | ${{subtotal}}
{{/tasks}}

**Grand Total**: ${{grandtotal}}

### Modalité de paiement

+ Le paiment doit être fait par chèque au nom de {{company}} et expédié au {{address}}
+ Le Grand Total doit être effectué d'ici le {{payment_date}}
